* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}

.grid-container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 700px;
    width: 700px;
    box-shadow: 0 0 20px -5px currentcolor; /* hor-offset(+ve,-ve) ver-offset (+ve,-ev) blur(+ve) spread(+ve,-ve) */
}

.grid-row {
    display: flex;
}

.grid-item {
    width: 0;
    height: 0;
}

