* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    --canvas-height: 600px;
    /* font-family: 'Indie Flower', cursive; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
}

header {
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin: 20px 0px 50px 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

footer {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
}
.grid-container {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: var(--canvas-height);
    width: var(--canvas-height);
    box-shadow: 0 0 20px -5px currentcolor; /* hor-offset(+ve,-ve) ver-offset (+ve,-ev) blur(+ve) spread(+ve,-ve) */
}

.grid-row {
    display: flex;
}

.grid-item {
    user-select: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

button {
    font-size: 28px;
    padding:8px 18px;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
    font-weight: 900;
}

.active {
    background-color: #5e6472;
    color: #e5e5e5;
}